@media (min-width: 1440px) {
    :root {
        /* General variables */
        --max-width: 1440px;
        --wanted-width: 1250px;
        --distance-between: 25px;

        /* Menu */
        --sidenav-display: none;
        --menu-icon-display: none;
        --menu-mobile-display: none;
        --menu-desktop-display: flex;
        --logo-menu-width: 500px;
        --menu-height: 171px;
        --links-menu-distance: 20px;
        --links-menu-font: Inter;
        --links-menu-font-size: 32px;
        --logo-margin-right: 136px;
        --short-text-line-mobile: none;
        --short-text-line-desktop: flex;

        --picture-top-display: none;

        /* Line */
        --welcome-display: none;
        --check-out-display: flex;
        --line-height: 60px;
        --line-font: Epilogue;
        --line-font-size: 32px;
        --line-text-weight: bold;

        /* Slider */
        --picture-distance: 100px;
        --picture-size: 200px;
        --picture-price-font-size: 22px;
        --picture-description-font-size: 16px;
        --arrow-size: 50px;
        --arrow-picture-distance: 25px;
        --slider-within-width: 1100px;
        --slider-display: flex;

        /* Searcher */
        --column-menu-height: 151px;
        --column-slide-height: 157px;
        --drop-width: 342px;
        --drop-height: 35px;
        --drop-font-size: 14px;
        --distance-range: 21px;
        --distance-drop: 112px;
        --search-button-width: 300px;
        --search-button-height: 40px;
        --search-button-font-size: 20px;
        --search-button-padding: 6px;
        --paginator-width: 350px;
        --paginator-font-size: 24px;
        --display-searcher-desktop: flex;
        --display-searcher-middle: none;
        --display-searcher-mobile: none;

        /* Why us? */
        --info-font-size: 32px;
        --description-font-size: 20px;

        /* PDF */
        --pdf-desktop-display: flex;
        --pdf-mobile-display: none;
        --pdf-font: Epilogue;
        --pdf-tex-align: center;
        --download-the-pdf-text-width: var(--wanted-width);
        --pdf-font-size: 40px;
        --distance-pdf: 30px;
        --download-pdf-image-width: 180px;

        /* Contact */
        --contact-font: Epilogue;
        --contact-phone-font-size: 32px;
        --form-font: Inter;
        --send-mail-font-size: 40px;
        --form-font-size: 20px;
        --form-between: 20px;
        --form-height: 50px;
        --message-height: 130px;
        --send-form-height: 70px;
        --send-form-font-size: 32px;
        --number-below-display: none;
        --number-inline-display: flex;

        --bike-market-text-container-display: none;

        /* Last info */
        --last-information-mobile-display: none;
        --last-links-mobile-display: none;
        --last-information-desktop-display: flex;
        --logo-bottom-width: 500px;
        --icon-font-size: 18px;
        --icon-distance: 20px;
        --sector-font-size: 24px;
        --sector-distance: 90px;
        --sector-distance-middle: 0;
        --single-information-container-width: 300px;
        --last-info-row-display: flex;
        --last-info-column-display: none;

        /* Empty space */
        --empty-space-height: 50px;

        /* Single bike */
        --bike-site-desktop-display: flex;
        --bike-site-mobile-display: none;
        --show-bike-photo-width: 450px;
        --table-height: 700px;
        --table-width: 600px;
        --color-odd-rows: #fafafb;
        --color-even-rows: white;
        --table-border: 1px #dee1e6 solid;
        --table-font: Inter;
        --icon-size: 80px;
        --table-font-size: 24px;
        --paginator-one-bike-width: 360px;
        --paginator-font-size-single-bike: 24px;
        --arrow-size-one-bike: 60px;
    }
}
